
INPUT,TEXTAREA,SELECT{FONT-FAMILY: Verdana,Helvetica; FONT-SIZE: 11px}
#tbSMS, #tbConteudo, .tbMenu {FONT-FAMILY: Verdana,Helvetica; FONT-SIZE: 11px;COLOR:#000000} 
#tituloEnviarMSG {COLOR:#FFFFFF;}
#tituloIncluirContato {COLOR:#FFFFFF}
#linkPing {color:#000000}
.botao {
  background-color: #9FC8EC;
  border: 1px inset #e0e0e0;
  color: #000000;
  left: 1px;
  top: 1px;
}

/***** MENU ******/
div.menuBar,
div.menuBar a.menuButton,
div.menu,
div.menu a.menuItem {
  font-family: "MS Sans Serif", Arial, sans-serif;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  color: #000000;
  filter:alpha(opacity=90);
}

div.menuBar {
  padding: 0px 0px 0px 0px;
  text-align: left;
}

div.menuBar a.menuButton {
  background-color: transparent;
  border: 1px solid #e0e0e0;
  color: #000000;
  cursor: default;
  left: 0px;
  margin: 1px;
  padding: 2px 6px 2px 6px;
  position: relative;
  text-decoration: none;
  top: 0px;
  z-index: 100;
}

div.menuBar a.menuButton:hover {
  background-color: transparent;
  border: 1px outset #e0e0e0;
  color: #000000;
}

div.menuBar a.menuButtonActive,
div.menuBar a.menuButtonActive:hover {
  background-color: #9FC8EC;
  border: 1px inset #e0e0e0;
  color: #000000;
  left: 1px;
  top: 1px;
}

div.menu {
  background-color: #F0F0F0;
  border: 1px solid #9FC8EC;
  left: 0px;
  padding: 0px 0px 0px 0px;
  position: absolute;
  top: 0px;
  visibility: hidden;
  z-index: 101;
}

div.menu a.menuItem {
  color: #000000;
  cursor: default;
  display: block;
  padding: 3px 1em;
  text-decoration: none;
  white-space: nowrap;
}

div.menu a.menuItem:hover, div.menu a.menuItemHighlight {
  background-color: #9FC8EC;
  color: #000000;
}

div.menu a.menuItem span.menuItemText {}

div.menu a.menuItem span.menuItemArrow {
  margin-right: -.75em;
}

div.menu div.menuItemSep {
  border: 1px inset #e0e0e0;
  margin: 4px 2px;
}

/***** FIM MENU ******/