ClickJump LinkBox      Change the VALUES to your links! <br>

When the User selects an item, it will automatically jump to that link. <br>

<CENTER>
<FONT FACE="VERDANA, ARIAL">Select an item:</FONT><BR>
<FORM>
<SELECT NAME="clicklist" onChange="top.location.href=this.form.clicklist.options[this.form.clicklist.selectedIndex].value">
<OPTION>
<OPTION SELECTED VALUE="http://www.google.com">Google
<OPTION VALUE="http://www.netscape.com">Netscape
<OPTION VALUE="http://www.microsoft.com">Microsoft
<OPTION VALUE="http://www.infoseek.com">Infoseek
</SELECT><P>
</FORM>
</CENTER>

