<!--
Muda o tipo do elemento: de text para password.
Andreia_Sp - http://scriptbrasil.com.br/forum/index.php?showuser=7818
2007
-->
<script type="text/javascript">
function MudaTipo(input){
	if(input.type == 'text'){
		campo = document.createElement('input');
		campo.type = 'password';
		campo.name = input.name;
		campo.value = input.value;
		input.parentNode.insertBefore(campo,input);
		input.parentNode.removeChild(input);
	}
}
</script>

<body>
<form name="form">
Password:&nbsp;<input type="text" name="senha" onchange="MudaTipo(this)">
</form>