<!--INSERT EVERYTHING BELOW TO THE <BODY> SECTION OF YOUR WEBPAGE-->
 
<script>

/*
Snake Game Written by Omar Wally surfsup_79@hotmail.com
Permission granted to Dynamicdrive.com to include script in archive
For this and 100's more DHTML scripts, visit http://dynamicdrive.com
*/

function opengame(){
if (document.all)
window.open("game.htm","gamewin","status,width=220,height=260,border=0")
else
alert("You need IE 4+ to play Snake. Sorry")
}
</script>

<a href="#" onClick="opengame();return false">Play Snake</a>