.link{font-family: verdana;  font-size: 8pt; color: black; text-decoration: none;}
.link:hover {font-family: verdana;  font-size: 8pt; color: blue; text-decoration: none; font-weight: bold;}
.tit{font-family: verdana;  font-size: 9pt; color: white; text-decoration: none; font-weight: bold;}
.cont{font-family: verdana;  font-size: 8pt; color: black; text-decoration: none;}
.form{font-family: Verdana; font-size: 8pt; background-color: #C0C0C0; border-style: double; border-width: 1px}
.formulario{font-family: verdana;  font-size: 9pt; color: black; text-decoration: none; font-weight: bold;}
