@charset "utf-8";
/* CSS Document */

body {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	font-weight: bold;
	color: #CCCCCC;
	background-color: #333333;
	margin: 100px;
	padding-top: 20px;
	padding-right: 100px;
	padding-bottom: 100px;
	padding-left: 100px;
}

.texto {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #CCCCCC;
}
.texto a:link, .texto a:active, .texto a:visited {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #CCCCCC;
	text-decoration: none;
}
.texto a:hover {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #A7A7A7;
	text-decoration: underline;
}
.Titulo {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #CCCCCC;
	padding-left: 10px;
}
.Box {
	background-color: #EFEFEF;
	border: 1px solid #999999;
}

.table {
	border: 1px solid #333333;
}
img {
	padding: 2px;
	border: 4px solid #666666;
}

img a:link {
	padding: 2px;
	border: 4px solid #CCCCCC;
}#comentarios {
	height: 300px;
	width: 200px;
	overflow:scroll;
	padding: 5px;
	background-position: left;
}
.sep {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999999;
}
