Hover link
<br>

Use this script so that when<br>

the user's mouse is over the<br>

link, it will go to the url<br>

provided.  
 <br>


<a href="" onmouseover="parent.location='http://www.google.com'">Link to Google</A>
