<table width="$pollvars[table_width]" border="0" cellspacing="0" cellpadding="1" bgcolor="$pollvars[bgcolor_fr]">
  <tr align="center">
    <td>
      <style type="text/css">
 <!--
  .input { font-family: $pollvars[font_face]; font-size: 8pt}
 -->
</style>
      <font face="$pollvars[font_face]" size="-1" color="#FFFFFF">TESTE<b>$pollvars[title]</b></font></td>
  </tr>
  <tr align="center"> 
    <td> 
      <table width="100%" border="0" cellspacing="0" cellpadding="2" align="center" bgcolor="$pollvars[bgcolor_tab]">
        <tr> 
          <td height="40" valign="middle"><font face="$pollvars[font_face]" color="$pollvars[font_color]" size="1"><b>$question</b></font></td>
        </tr>
        <tr align="right" valign="top"> 
          <td>
            <form method="post" action="$this->form_forward">
              <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                <tr valign="top" align="center"> 
                  <td> 
                    <table width="100%" border="0" cellspacing="0" cellpadding="1" align="center">
