.text {
	font-family: Tahoma, Arial;
	font-size: 10px;
}
input {
	font-family: Tahoma, Arial;
	font-size: 10px;
}
select {
	font-family: Tahoma, Arial;
	font-size: 10px;
}
textarea {
	font-family: Tahoma, Arial;
	font-size: 10px;
}
