<!--
Bloqueia enter como submit
Andreia_Sp - http://scriptbrasil.com.br/forum/index.php?showuser=7818
2007
-->

<script language="javascript">
function bloqEnter(objEvent) 
{
 var iKeyCode;   
 iKeyCode = objEvent.keyCode;
 if(iKeyCode == 13) return false;
 return true;
}
</script>
<form method="post">
Nome :<input type="text" name="nome" onkeypress="return bloqEnter(event)"> 
<input type="submit" value="Enviar">
</form>
